@use "src/colors";
@use "src/sizes";

:host{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: colors.$base;
  width: 100%;
  padding: sizes.$navbar-height sizes.$page-padding 50px;
}

#blog-posts{
  display: flex;
  flex-direction: column;
  gap: 5em;
  color: colors.$base-light;
}

.segment-title{
  margin-bottom: 60px;
  border-bottom: solid colors.$base-light 1px;
}

/* polecamman-blog-post-preview{
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}*/
