@use "src/colors";
@use "src/sizes";

:host{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: colors.$base;
  width: 100vw;
  padding: sizes.$navbar-height sizes.$page-padding 50px;
}

#blog-posts{
  display: flex;
  flex-direction: column;
  gap: 5em;
  max-width: 1000px;
  color: colors.$base-light;
}

/*
polecamman-blog-post-preview{
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    translate: 10vw;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 1;
  }
}
*/
