@use "../../../../sizes";
@use "../../../../colors";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 40px;
  padding: sizes.$navbar-height 0;

  width: 100%;
  flex-grow: 1;
}

#post-container, #text-container {
  width: 100%;
  max-width: 800px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#media-container {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

img, video {
  height: 100%;
  min-width: 100%;
  transition: 0.35s ease-in-out;
  object-fit: contain;
}

button {
  border: none;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 5%;

  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
  content: "";
}

button#previous {
  left: -5%;
  //background-image: url("../../../../assets/navigate_before.svg"), linear-gradient(90deg, #{colors.$base-light}, rgba(0, 0, 0, 0));
  background-image: url("../../../../assets/navigate_before.svg");
}

button#next {
  right: -5%;
  //background-image: url("../../../../assets/navigate_next.svg"), linear-gradient(270deg, #{colors.$base-light}, rgba(0, 0, 0, 0));
  background-image: url("../../../../assets/navigate_next.svg");
}

p {
  color: colors.$base-dark;
}

h1 {
  color: colors.$base-dark;
  border: none;
  margin-bottom: 1rem;
}

#date {
  opacity: 0.3;
}

@media only screen and (max-width: sizes.$phone-view-breakpoint) {
  :host {
    gap: 20px;
    padding: calc(#{sizes.$navbar-height}*1.5) 0;
  }

  h1 {
    margin: 0;
  }

  button {
    width: 10%;
  }
  button#next {
    right: -10%;
  }
  button#previous {
    left: -10%
  }

  #date {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #post-container, #text-container {
    max-width: 90vw;
  }

  #media-container {
    margin-bottom: 1em;
  }
}
