@use "src/sizes";
@use "src/colors";

$max-blog-width: 800px;

:host {
  position: relative;
  display: flex;
  justify-content: center;

  &.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    padding: 5vmin;

    backdrop-filter: brightness(0.2);
  }
}

#slides {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;

  width: 100%;
  aspect-ratio: 16 / 9;

  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  border-radius: sizes.$border-radius;
  backdrop-filter: brightness(0.2);
}

.media-container {
  scroll-snap-align: start;

  max-width: $max-blog-width;
  min-height: 200px;
  max-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

img, video {
  max-height: 100%;
  width: sizes.$content-width;
  max-width: $max-blog-width;
  transition: 0.35s ease-in-out;
  object-fit: contain;
}

#slides::-webkit-scrollbar {
  display: none;
}

#thumbnails {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

#thumbnails div {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background: #aaa;
  border-radius: 100%;

  transition: 0.2s ease-out;
  &:hover {
    scale: 1.2;
  }
}

#thumbnails div.highlighted {
  background-color: colors.$accent;
}

@media only screen and (max-width: sizes.$phone-view-breakpoint) {
  h1 {
    margin: 0;
  }

  #slides {
    aspect-ratio: 4 / 3;
  }

  #date {
    font-size: 1.5em;
  }

  #post-container, #text-container, .media-container {
    max-width: 90vw;
  }
}
