@use "src/colors";
@use "src/sizes";

:host{
  display: flex;
  flex-direction: column;

  background-color: colors.$primary;
  color: colors.$neutral-light;
  width: 100%;
  flex-grow: 1;
  padding: sizes.$navbar-height sizes.$page-padding 50px;
}

#albums{
  width: 100%;
  height: auto;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr) ) ;
  justify-items: flex-start;
  align-content: flex-start;
  gap: 50px;
}
