<div id="background-image-container">
  <div id="background-image"></div>
  <div id="title">professional<br>polecam videographer</div>
  <div id="profile"></div>
</div>
<!-- <input type="checkbox" class="toggler"> -->
<div id="introduction">
  <p style="margin-top: 0">Hi, I’m <span class="font-semi-bold">Gábor Károlyi</span>, professional freelance polecam videographer.</p>
  <p>I started running Polecam in 2016, when I bought my first set. Since then, I have participated in numerous sporting events <em>(basketball, water polo, handball, football, equestrian sports, extreme sports)</em>, concerts, gastro shows, live talk shows, live music shows, short films and commercials.</p>
  <p>The main advantages of the Polecam over the jimmy jib are it's <b>fast</b> setup process and <b>mobility</b>, as well as significantly less space required. The pole's length can be adjusted between 1.5 and 8 meters, so it can be <b>easily adapted</b> to any kind of production environment or requirement.</p>
  <p>The camera moving device basically works with a Toshiba (Canon) full HD broadcast special minicam and Fujinon optics, which is controlled by a CCU and can be leveled from the OB Van to the other cameras with a Cyanview RCP. It can even be used with a BlackMagic MicroStudio4K camera, which is also controlled by the Cyanview RCP. The signal transmission can be solved in any way (sdi, optics, smtp, wireless) by connecting the SDI cable coming out of the device to a suitable converter.</p>
  <p>On request, the DJI Ronin RS2 is also compatible and can be weighed into a setup.</p>
  <p>Some events I have worked on are: UEFA CL, UEFA European qualifier, National League, EHF CL, FIBA Euroleague women, FIBA Euro Cup Final4, FIBA 3x3 olympic qualifier, FIBA 3x3 WC, LEN CL, LEN EC Final, LEN u15 European Championship, X-Trial, SuperEnduro, FISE Extreme Sports, Gastro Shows, Confectioners, Country Cake, Feature Films - The Diplomat, Lawsuit Against the Nation, Music Shows - PopCity and lots of gigs - Quimby, Tankcsapda, Majka & Curtis, Honeybeast, WellHello, MagnaCumLaude, Beatrice, Animal Cannibals, Supernem, Sub Bass Monster, Randomtrip, Caramel, Rúzsa Magdi and many more bands, smaller commercials, and video clips.</p>
  <div id="read-more">
    <!--<a routerLink="about-me"></a>-->
  </div>
</div>
<polecamman-blog></polecamman-blog>
