<div *ngIf="contacts$ | async as contacts"
     id="aligner" #aligner>

  <a href="mailto:{{contacts.attributes.email}}"
     target="_blank"
     rel="noreferrer noopener"
     title="Email me!" i18n-title
     *ngIf="contacts"
     [popover]="contacts.attributes.email"
     [popverParent]="aligner"
     popoverGap="40px"
     [popoverCopy]="true">
    <img src="../../../../assets/gmail-icon.svg" alt="gmail">
  </a>
  <a href="https://m.me/{{contacts.attributes.messenger}}"
     target="_blank"
     rel="noreferrer noopener"
     title="Message me!" i18n-title
     *ngIf="contacts">
    <img src="../../../../assets/messenger-icon.svg" alt="messenger">
  </a>
  <a href="{{contacts.attributes.instagram}}"
     target="_blank"
     rel="noreferrer noopener"
     title="Follow me!" i18n-title
     *ngIf="contacts">
    <img src="../../../../assets/instagram-icon.svg" alt="instagram">
  </a>
  <a href="{{contacts.attributes.phone}}"
     target="_blank"
     rel="noreferrer noopener"
     title="Call me!" i18n-title
     [popover]="contacts.attributes.phone"
     [popverParent]="aligner"
     popoverGap="40px"
     [popoverCopy]="true"
     *ngIf="contacts">
    <img src="../../../../assets/phone-icon.svg" alt="phone">
  </a>
</div>
