<ng-container *ngIf="album; else skeleton">
  <a class="image-container"
     [routerLink]="'/gallery/album/'+album.attributes.slug">
    <img *ngIf="albumFirstMedia.mime.includes('image')"
         uiMediaLoader
         class="thumbnail-image"
         [src]="serverURL+thumbnail.url"
         [alt]="albumFirstMedia.caption"
         #thumbnail_image>
    <video *ngIf="albumFirstMedia.mime.includes('video')"
           uiMediaLoader
           preload="metadata"
           class="thumbnail-image"
           #thumbnail_image>
      <source [src]="serverURL+albumFirstMedia.url" [type]="albumFirstMedia.mime">
    </video>

    <div *ngIf="containsImage || containsVideo || multipleMedia"
         class="icon-container" #icon_container>
      <span *ngIf="containsImage && !multipleMedia"
            class="material-symbols-rounded" i18n-popoverText
            popoverText="Image" popoverAlign="top-right" popoverGap="10px" [popverParent]="icon_container">
          image
      </span>
      <span *ngIf="multipleMedia"
            class="material-symbols-rounded" i18n-popoverText
            popoverText="Images" popoverAlign="top-right" popoverGap="10px" [popverParent]="icon_container">
          photo_library
      </span>
      <span *ngIf="containsVideo"
            class="material-symbols-rounded" i18n-popoverText
            popoverText="Video" popoverAlign="top-right" popoverGap="10px" [popverParent]="icon_container">
          videocam
      </span>
    </div>
  </a>
  <h2 [routerLink]="'/gallery/album/'+album.attributes.slug">{{album.attributes.title}}</h2>
</ng-container>
<ng-template #skeleton>
  <skeleton-rect width="100%" aspectRatio="4/3"></skeleton-rect>
  <skeleton-rect width="random" height="30px"></skeleton-rect>
</ng-template>
