@use "src/colors";
@use "src/sizes";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: colors.$primary;
  width: 100vw;
  padding: sizes.$navbar-height sizes.$page-padding 50px;
}

p {
  color: colors.$neutral-light;
}
