@use "src/colors";
@use "src/sizes";

:host {
  background-color: colors.$primary;
  width: 100vw;
  max-height: 100%;
  padding: sizes.$navbar-height 0 50px;
}

.slides{
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(100, 90%);
  gap: 1rem;

  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  padding-left: sizes.$page-padding;
  border-radius: sizes.$border-radius;

  & > * {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  &::before, &::after {
    position: fixed;
    top: 20%;
    bottom: 10%;
    z-index: 1;
    width: sizes.$page-padding;
    content: "";
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to right, colors.$primary 20%, transparent 100%);
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to left, colors.$primary 20%, transparent 100%);
  }
}

h1{
  margin-right: sizes.$page-padding;
  margin-left: sizes.$page-padding;
}

p {
  color: colors.$neutral-light;

  &.empty, &.error{
    margin: 0 sizes.$page-padding;
  }
}

.slides::-webkit-scrollbar {
  display: none;
}
