<ng-container *ngIf="blogPost$ | async as blogPost">
  <div id="post-container" *ngIf="blogPost">
    <header>
      <h1>{{blogPost.attributes.title}}</h1>
      <div i18n id="date">Published: {{blogPost.attributes.publishedAt.substring(0, 10)}}</div>
    </header>

    <ng-container *ngIf="mediaElements$ | async as mediaElements">
        <media-viewer [media]="mediaElements"
                      [isModeChangeable]="true"></media-viewer>
    </ng-container>
  </div>

  <div id="text-container" *ngIf="blogPost">
    <div id="text" [innerHTML]="blogPost.attributes.content"></div>
  </div>
</ng-container>

