@use "src/sizes";
@use "src/colors";

$max-blog-width: 800px;

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1em;
  padding: sizes.$navbar-height 0;

  width: 100%;
  flex-grow: 1;
}

#post-container, #text-container {
  width: 100%;
  max-width: $max-blog-width;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  color: colors.$neutral-dark;
}

h1 {
  color: colors.$neutral-dark;
  border: none;
  margin: 1rem 0 0;
}

#date {
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 1em;
}

@media only screen and (max-width: sizes.$phone-view-breakpoint) {
  :host {
    gap: 20px;
    padding: calc(#{sizes.$navbar-height} * 1.5) 0;
  }

  h1 {
    margin: 0;
  }

  #date {
    font-size: 1.5em;
  }

  #post-container, #text-container {
    max-width: 90vw;
  }
}
