<ng-container *ngIf="blogPost$ | async as blogPost">
  <div id="post-container" *ngIf="blogPost">
    <header>
      <h1>{{blogPost.attributes.title}}</h1>
      <div i18n id="date">Published: {{blogPost.attributes.publishedAt.substring(0, 10)}}</div>
    </header>

    <carousel *ngIf="mediaElements$ | async as mediaElements"
              [items]="mediaElements" [thumbnailsVisible]="true">
      <ng-template #contentTemplate let-item>
        <app-media [media]="item"></app-media>
      </ng-template>
    </carousel>
  </div>

  <div id="text-container" *ngIf="blogPost">
    <div id="text" [innerHTML]="blogPost.attributes.content"></div>
  </div>
</ng-container>

