<header [class.scrolled]="scrolled">
  <h2><a routerLink="">Polecamman</a></h2>
  <nav id="nav-horizontal">
    <app-navbar-item route="">{{localizedHomeText}}</app-navbar-item>
    <app-navbar-item route="blog">{{localizedBlogText}}</app-navbar-item>
    <app-navbar-item route="gallery">{{localizedGalleryText}}</app-navbar-item>
    <app-navbar-item route="gear">{{localizedGearText}}</app-navbar-item>
    <contacts></contacts>
  </nav>
    <hamburger-menu [language]="language"></hamburger-menu>
</header>
