<header [class.scrolled]="scrolled">
  <h2><a routerLink="">Polecamman</a></h2>
  <nav id="nav-horizontal">
    <polecamman-navbar-item route="">home</polecamman-navbar-item>
    <polecamman-navbar-item route="blog">blog</polecamman-navbar-item>
    <polecamman-navbar-item route="gallery">gallery</polecamman-navbar-item>
    <polecamman-navbar-item route="gear">gear</polecamman-navbar-item>
    <polecamman-contacts></polecamman-contacts>
  </nav>
    <polecamman-hamburger-menu></polecamman-hamburger-menu>
</header>
