<h1 i18n>Blog Posts</h1>
<div id="blog-posts"
     scrollTracker
     [complete]="allLoaded"
     (scrollingFinished)="getMorePosts()">
  <ng-container *ngIf="posts$ | async as posts; else fallback">
      <blog-post-preview *ngFor="let blogPost of posts;
                                 trackBy: blogPostTrackBy;
                                 even as even;"

                         [blogPost]="blogPost" [even]="even"></blog-post-preview>
  </ng-container>
  <ng-template [ngSwitch]="problem" #fallback>
    <ng-container *ngSwitchCase="'EMPTY'">
      <p i18n>No blog posts yet.</p>
    </ng-container>
    <ng-container *ngSwitchCase="'ERROR'">
      <p i18n>Blog posts couldn't be loaded.</p>
    </ng-container>
  </ng-template>
</div>
