<h1 i18n>Gallery</h1>
<div id="albums" scrollTracker [complete]="allLoaded" (scrollingFinished)="getMoreAlbums()">
  <ng-container *ngIf="albums$ | async as albums; else fallback">
    <album-preview *ngFor="let album of albums;
                           trackBy: albumTrackBy;
                           even as even"
                   [album]="album"></album-preview>
  </ng-container>
  <ng-template [ngSwitch]="problem" #fallback>
    <ng-container *ngSwitchCase="'EMPTY'">
      <p i18n>No albums yet.</p>
    </ng-container>
    <ng-container *ngSwitchCase="'ERROR'">
      <p i18n>Albums couldn't be loaded.</p>
    </ng-container>
  </ng-template>
</div>
