@use "src/colors";
@use "src/sizes";

:host{
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: center;
  justify-content: center;

  background-color: colors.$neutral-dark;
  font-size: 10vw;
  font-weight: 800;
  text-align: center;
  color: colors.$neutral-light;

  flex-grow: 1;
}
