{{content}}
<ng-container *ngIf="copy">
  <ng-container [ngSwitch]="state">
    <span *ngSwitchCase="'showing'" (click)="copyToClipboard()"
          class="material-symbols-outlined">content_copy</span>
    <span *ngSwitchCase="'copied'"
          class="material-symbols-outlined">done</span>
    <span *ngSwitchCase="'error'"
          class="material-symbols-outlined">error</span>
    <span *ngSwitchDefault
          class="material-symbols-outlined">content_copy</span>
  </ng-container>
</ng-container>
