@use "colors";
@use "sizes";
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

html, body{
  width: 100vw;
  height: 100vh;
  //font-family: 'Karla', sans-serif;
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Encode Sans', sans-serif;
  color: colors.$base-light;

  display: flex;
  flex-direction: column;

  border: 0;
  padding: 0;
  overflow: auto;
  overflow: overlay;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
}

.content-container{
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

p{
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  text-align: justify;
  text-overflow: fade;
  margin: 10px 0;
}

h1{
  text-transform: uppercase;
  font-size: 40pt;
  font-weight: 900;
  color: colors.$base-light;

  margin: 50px 0 20px;
  border-bottom: solid colors.$base-light 1px;

  @media only screen and (max-width: sizes.$phone-view-breakpoint) {
    font-size: 30pt;
    margin: 50px sizes.$page-padding 20px;
  }
}

h2{
  font-weight: 800;
  height: fit-content;
  margin: 0;
  user-select: text;

  &::selection {
    color: colors.$base-light;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

::selection {
  color: colors.$accent;
  background: none;
}

::-webkit-scrollbar {
  width: 10px;
  position: absolute;
  right: 110px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: colors.$accent;
  border-radius: 10px;
  transition: 0.35s ease-in-out;
  opacity: 0.3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: 0.35s ease-in-out;
  opacity: 1;
}

@media only screen and (max-width: sizes.$phone-view-breakpoint) {
  ::-webkit-scrollbar {
    display: none;
  }

  .content-container {
    width: 100%;
  }

  h2 {
    font-size: 20pt;
  }
}
