@use "colors";
@use "sizes";

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
}

html{
  background-color: colors.$primary;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
@media only screen and (max-width: sizes.$tablet-view-breakpoint) {
  html{ font-size: 14px }
}
@media only screen and (max-width: sizes.$phone-view-breakpoint) {
  html{ font-size: 12px }
}

#root-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  flex-grow: 1;
}

html, body{
  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;

  display: flex;
  flex-direction: column;

  border: 0;
  padding: 0;
  overflow: auto;
  //noinspection CssInvalidPropertyValue
  overflow: overlay;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-container{
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

p{
  font-family: 'Karla', sans-serif;
  font-size: 14pt;
  line-height: 1.5;
  text-align: left;
  text-overflow: fade;
  margin: 10px 0;
}

p::selection, b::selection, em::selection, strong::selection, u::selection, span::selection, i::selection{
  color: colors.$neutral-light;
  background-color: colors.$neutral-dark;
}

h1{
  text-transform: uppercase;
  font-size: 3.4em;
  font-weight: 900;
  color: colors.$neutral-light;

  margin: 50px 0 40px;
  border-bottom: solid colors.$neutral-light 1px;

  @media only screen and (max-width: sizes.$phone-view-breakpoint) {
    margin-bottom: 20px;
  }
}

h2{
  font-weight: 800;
  font-size: 2em;
  height: fit-content;
  margin: 0;
  user-select: text;

  &::selection {
    background-color: colors.$accent;
    color: colors.$neutral-dark;
  }
}

a{
  text-decoration: none;
  color: inherit;
}

::selection {
  color: colors.$accent;
  background: none;
}

::-webkit-scrollbar {
  width: 10px;
  position: absolute;
  right: 110px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: colors.$accent;
  border-radius: 10px;
  transition: 0.35s ease-in-out;
  opacity: 0.3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: 0.35s ease-in-out;
  opacity: 1;
}

@media only screen and (max-width: sizes.$phone-view-breakpoint) {
  ::-webkit-scrollbar {
    display: none;
  }

  .content-container {
    width: 100%;
  }
}
