@use "../../../../colors";

:host{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 15% 10%;
  background-color: colors.$base-dark;
  font-size: 64pt;
  font-weight: 800;
  color: colors.$base-light;
}
