@use "../../../../colors";
@use "../../../../sizes";

:host{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: colors.$base;
  width: 100%;
  padding: sizes.$navbar-height sizes.$page-padding 50px;
}

#blog-posts{
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.segment-title{
  margin-bottom: 60px;
  border-bottom: solid colors.$base-light 1px;
}
