<ng-container *ngIf="language$ | async as language">
  <div id="background-image-container">
    <img id="background-image" src="assets/landing-background.webp" alt="background image">
    <div id="title">
      <span *ngIf="language === 'en'">Professional<br>Polecam Videographer</span>
      <span *ngIf="language === 'hu'">Professzionális<br>Polecam Operatőr</span>
    </div>
  </div>
  <div id="introduction" #textbox>
    <div *ngIf="introduction$ | async as introduction" [innerHTML]="introduction.attributes.content">
      <i *ngIf="language === 'en'">Loading content...</i>
      <i *ngIf="language === 'hu'">Tartalom betöltése...</i>
    </div>
    <div id="introduction-toggler" #toggler></div>
  </div>
</ng-container>

<blog-page></blog-page>
