@use "src/colors";
@use "src/sizes";

:host {
  position: relative;
}

blog-page {
  padding-top: 0;
}

#background-image {
  background-image: url("../../../assets/landing-background.webp");
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#background-image-container {
  height: 75vh;
  position: relative;

  user-select: text;
}

#title {
  position: absolute;
  bottom: sizes.$navbar-height;
  right: sizes.$page-padding;

  font-size: 42pt;
  font-weight: 800;
  text-align: right;
  text-transform: uppercase;

  border-right: 2px solid colors.$base-light;
  color: colors.$base-light;
  padding-right: 20px;
  padding-left: sizes.$navbar-height;
  overflow-x: hidden;

  &::selection {
    color: colors.$accent;
  }
}

#profile {
  //background-image: url("../../../../assets/profile.png");
  background-position: bottom;
  background-size: cover;

  height: 80%;
  aspect-ratio: 3 / 4;

  position: absolute;
  left: sizes.$page-padding;
  bottom: 0;
}

p{
  font-weight: 400 !important;
}

.font-semi-bold {
  font-weight: 600;
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px sizes.$page-padding 50px;
  overflow: hidden;
  overflow: clip;
  position: relative;
  height: 25vh;

  background-color: colors.$base-light;
  font-size: 14pt;
  font-weight: 400;
  color: colors.$base-dark;

  transition: all 0.35s ease-in-out;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 1;

    width: 100%;
    height: 25vh;
    background: linear-gradient(to top, colors.$base-light, rgba(0, 0, 0, 0) 50%);
  }
}

#introduction-toggler {
  position: absolute;
  bottom: 0;
  left: 40vw;
  margin-bottom: 10px;
  z-index: 2;
  cursor: pointer;

  width: 20vw;
  height: 36px;

  background-image: url("../../../assets/down-arrow-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.35s ease-in-out;

  &:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.35s ease-in-out;
  }
}

@media only screen and (max-width: 1500px) {
  #profile {
    display: none;
  }

  #title {
    bottom: sizes.$navbar-height;
    left: sizes.$navbar-height;

    text-align: left;

    border-right: none;
    border-left: 2px solid colors.$base-light;
    padding-right: sizes.$navbar-height;
    padding-left: 20px;

    &::selection {
      color: colors.$accent;
    }
  }
}

@media only screen and (max-width: sizes.$phone-view-breakpoint) {
  #introduction {
    padding-top: min(50px, #{sizes.$page-padding});
  }
  #title {
    font-size: 9vw;

    width: 100%;
    left: 0;
    bottom: 5%;
    padding: sizes.$page-padding;
    border: none;
  }
}

.text-open {
  transition: all 0.35s ease-in-out !important;

  &::after{
    background: none !important;
    transition: 0.35s ease-in-out !important;
  }
}
.toggler-open{
  transform: scaleY(-1);

  &:hover{
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }
}
