<div id="background-image-container">
  <img id="background-image" src="assets/landing-background.webp" alt="background image">
  <div id="title">
    <span i18n>Professional<br>Polecam Videographer</span>
  </div>
</div>
<div id="introduction" #textbox>
  <div *ngIf="introduction$ | async as introduction" [innerHTML]="introduction.attributes.content">
    <i i18n>Loading content...</i>
  </div>
  <img id="introduction-toggler" #toggler
       src="assets/down-arrow-icon.svg" alt="down_arrow">
</div>


<blog-page></blog-page>
