<div id="background-image-container">
  <div id="background-image"></div>
  <div id="title">
    <span *ngIf="language === 'en'">Professional<br>Polecam Videographer</span>
    <span *ngIf="language === 'hu'">Professzionális<br>Polecam Operatőr</span>
  </div>
  <div id="profile"></div>
</div>
<div id="introduction">
  <div *ngIf="introduction" [innerHTML]="introduction.attributes.content">
    <i *ngIf="language === 'en'">Loading content...</i>
    <i *ngIf="language === 'hu'">Tartalom betöltése...</i>
  </div>
  <div id="introduction-toggler"></div>
</div>
<blog-page></blog-page>
