@use "../../../colors";
@use "../../../sizes";

:host{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-overflow: fade;
}

#image{
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;

  background-repeat: no-repeat;
  background-size: cover;
}
