@use "../../../colors";
@use "../../../sizes";

:host{
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  width: 100%;
  text-overflow: fade;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  overflow: clip;

  border-radius: sizes.$border-radius;
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.2); //nem müxik
}

.thumbnail-image {
  object-fit: cover;
  object-position: center;

  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;

  filter: brightness(60%);
  transition: .35s ease-in-out;

  &:hover {
    transition: .35s ease-in-out;
    filter: brightness(100%);
    scale: 1.05;
  }
}

.icon-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;

  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: sizes.$border-radius;

  backdrop-filter: brightness(0.4);
  opacity: 0.8;
}

.preview-icon{
  width: 24px;
  height: 24px;
}

h2:hover {
  text-decoration: underline;
}
