@use "src/colors";
@use "src/sizes";

header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: sizes.$navbar-height;
  padding: 10px sizes.$page-padding;
  overflow: visible;

  position: fixed;
  top: 0;
  z-index: 10;

  color: colors.$accent;
  transition: 0.35s ease-in-out;
}

.scrolled{
  background-color: colors.$primary;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

#nav-horizontal{
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;

  @media only screen and (max-width: sizes.$phone-view-breakpoint) {
    display: none;
  }
}

h2{
  display: flex;
  align-items: center;
  height: 100%;

  position: relative;
  z-index: 10;

  font-size: 22px;
}

.hidden{
  opacity: 0 !important;
}

#nav-hamburger{
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;

  #lc{
    position: relative;
    font-size: 1.4rem;
    padding: 10px;
    opacity: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;
  }

  @media only screen and (min-width: sizes.$phone-view-breakpoint) {
    display: none;
  }
}

contacts{
  translate: 0 -10px;
}
