<header [class.scrolled]="scrolled">
  <h2><a routerLink="">Polecamman</a></h2>
  <nav id="nav-horizontal">
    <app-navbar-item i18n route="">Home</app-navbar-item>
    <app-navbar-item i18n route="blog">Blog</app-navbar-item>
    <app-navbar-item i18n route="gallery">Gallery</app-navbar-item>
    <app-navbar-item i18n route="gear">Gear</app-navbar-item>
    <contacts></contacts>
    <locale-changer></locale-changer>
  </nav>
  <div id="nav-hamburger">
    <locale-changer [class.hidden]="scrolled" id="lc"></locale-changer>
    <hamburger-menu></hamburger-menu>
  </div>
</header>
