@use "src/colors";
@use "src/sizes";

:host{
  background-color: colors.$base;
  flex-grow: 1;

  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1{
  font-size: 25vw;
  animation: opacity 1s;
  filter: drop-shadow(0 0 10px colors.$accent);

  @media only screen and (max-width: sizes.$phone-view-breakpoint){
    font-size: 30vw;
  }
}
h2{
  color: colors.$base-light;
  animation: opacity 1s;
  filter: drop-shadow(0 0 10px colors.$accent);
}

@keyframes opacity {
  0%, 100% {filter: opacity(100%); }
  70% {filter: opacity(50%); }
  75% {filter: opacity(30%); }
  80% {filter: opacity(50%); }
  85% {filter: opacity(30%); }
  90% {filter: opacity(70%); }
  95% {filter: opacity(40%); }
  100%  {filter: opacity(100%) drop-shadow(0 0 20px colors.$accent); }
}
