<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <polecamman-navbar-item route="">home</polecamman-navbar-item>
        <polecamman-navbar-item route="blog">blog</polecamman-navbar-item>
        <polecamman-navbar-item route="gallery">gallery</polecamman-navbar-item>
        <polecamman-navbar-item route="gear">gear</polecamman-navbar-item>
        <polecamman-contacts></polecamman-contacts>
      </div>
    </div>
  </div>
</div>
