<div class="blogpost-preview"
     [ngStyle]="even ? {'padding-right':'10%'} : {'flex-direction': 'row-reverse', 'padding-left':'10%'}">
  <ng-container *ngIf="blogPost; else skeleton">
    <a *ngIf="media_0" class="image-container" [routerLink]="'/blog/blog-post/'+blogPost.attributes.slug">
      <img *ngIf="media_0.mime.includes('image') && thumbnail"
           class="thumbnail-image"
           uiMediaLoader
           [src]="serverURL+thumbnail.url"
           [alt]="media_0.caption">
      <video *ngIf="media_0.mime.includes('video')"
             uiMediaLoader
             preload="metadata"
             class="thumbnail-image">
        <source [src]="serverURL+media_0.url" [type]="media_0.mime">
      </video>

      <div *ngIf="containsImage || containsVideo || multipleMedia"
           class="icon-container" #icon_container>
        <span *ngIf="containsImage && !multipleMedia"
              class="material-symbols-rounded"
              popover="Image" popoverAlign="top-right" popoverGap="10px" [popverParent]="icon_container">
          image
        </span>
        <span *ngIf="containsVideo"
              class="material-symbols-rounded"
              popover="Video" popoverAlign="top-right" popoverGap="10px" [popverParent]="icon_container">
          videocam
        </span>
        <span *ngIf="multipleMedia"
              class="material-symbols-rounded"
              popover="Images" popoverAlign="top-right" popoverGap="10px" [popverParent]="icon_container">
          photo_library
        </span>
      </div>
    </a>
    <div class="text-container">
      <a class="post-title" [routerLink]="'/blog/blog-post/'+blogPost.attributes.slug">
        <h2>{{blogPost.attributes.title}}</h2></a>
      <div class="post-content"
           [innerHTML]="blogPost.attributes.content"></div>
    </div>
  </ng-container>

  <ng-template #skeleton>
    <div class="image-container">
      <skeleton-rect width="100%" height="100%"></skeleton-rect>
    </div>
    <div class="text-container">
      <skeleton-rect mimic="heading" class="skeleton-title"></skeleton-rect>
      <div class="post-content skeleton-content">
        <skeleton-rect *ngFor="let _ of [1,2,3,4,5]" mimic="text"></skeleton-rect>
      </div>
    </div>
  </ng-template>
</div>
