@use "src/sizes";
@use "src/colors";

:host{
  display: flex;
  flex-direction: column;
  padding: sizes.$navbar-height sizes.$page-padding;
  background-color: colors.$neutral-light;

  width: 100%;
  flex-grow: 1;
}

h1{
  color: colors.$neutral-dark;
  border: none;
}
