@use "../../../colors";
@use "../../../sizes";

#blogpost-preview {
  display: flex;
  flex-direction: row;
  gap: 5%;

  justify-content: flex-start;
  align-items: flex-start;

  height: 40vh;
  max-width: 100vw;
  overflow: hidden;
}

.image-container {
  aspect-ratio: 16 / 9;

  width: 100%;
  max-width: 600px;
  min-height: 400px;
  overflow: clip;

  display: flex;
  align-items: flex-start;
}

.image {
  height: 100%;
  min-width: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  filter: brightness(60%);
  transition: .35s ease-in-out;

  &:hover {
    transition: .35s ease-in-out;
    filter: brightness(100%);
    background-size: 105%;
  }
}

#text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 600px;
  height: 100%;
  text-overflow: fade;
}

.article-title {
  font-size: 20pt;
  font-weight: 600;
}

.article-content {
  font-size: 14pt;
  font-weight: 200;
  text-align: justify;
  text-overflow: ellipsis;
}

@media only screen and (max-width: sizes.$tablet-view-breakpoint) {
  #blogpost-preview {
    height: 80vh;

  }
}

@media only screen and (max-width: sizes.$phone-view-breakpoint) {
  #blogpost-preview {
    flex-direction: column !important;
    padding: sizes.$page-padding !important;
    gap: 20px;
    align-items: center;
  }

  .image-container {
    //width: 100%;
    aspect-ratio: 4 / 3 !important;
  }

  #text-container {
    width: 100%;
    padding: 0 sizes.$page-padding;
  }

  .article-title {
    font-size: 18pt;
    margin-bottom: 10px;
  }

  .article-content {
    font-size: 12pt;
  }
}
