<div class="contacts-open">
  <a href="mailto:{{contacts.attributes.email}}" title="Email"><img src="../../../assets/gmail-icon.svg" alt="gmail"></a>
  <a href="{{contacts.attributes.messenger}}"><img src="../../../assets/messenger-icon.svg" alt="messenger"></a>
  <a href="{{contacts.attributes.facebook}}"><img src="../../../assets/facebook-icon.svg" alt="facebook"></a>
  <a href="{{contacts.attributes.instagram}}"><img src="../../../assets/instagram-icon.svg" alt="instagram"></a>
</div>
<div class="contacts-closed">contact</div>
