<a href="mailto:{{contacts.attributes.email || 'polecamman@gmail.com'}}"><img src="../../../assets/gmail-icon.svg" alt="gmail"></a>
<a href="https://m.me/{{contacts.attributes.messenger || 'https://m.me/gabor.karolyi.9'}}"><img src="../../../assets/messenger-icon.svg" alt="messenger"></a>
<a href="{{contacts.attributes.facebook || 'https://www.facebook.com/gabor.karolyi.9'}}"><img src="../../../assets/facebook-icon.svg" alt="facebook"></a>
<a href="{{contacts.attributes.instagram || 'https://www.instagram.com/polecamman/'}}"><img src="../../../assets/instagram-icon.svg" alt="instagram"></a>
