@use "src/colors";
@use "src/sizes";

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: max(2em, 100%);
  width: fit-content;

  padding: 0 10px;

  text-transform: uppercase;
  cursor: pointer;
}

.locale-selector {
  scale: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  padding: 10px 0;

  background-color: colors.$neutral-dark;
  border-radius: sizes.$border-radius;

  transition: scale 0.2s ease-in-out;

  &.open{
    scale: 1;
  }

  a {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.selected-locale {
  display: none;
}
