@use "../../../../sizes";
@use "../../../../colors";

:host{
  display: flex;
  flex-direction: column;
  padding: sizes.$navbar-height sizes.$page-padding 0;

  width: 100%;
  flex-grow: 1;
}

.image-container{

}

h1{
  color: colors.$base-dark;
  border: none;
}
