@use "../../../../sizes";
@use "../../../../colors";

:host{
  display: flex;
  flex-direction: column;
  padding: sizes.$navbar-height sizes.$page-padding;

  width: 100%;
  flex-grow: 1;
}

.media-container{
  display: flex;
  flex-direction: column;
  gap: 4em;
  width: 100%;
}

.media{
  max-width: 100%;
  height: auto;
}

h1{
  color: colors.$base-dark;
  border: none;
}
